* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(noaa-kcvlb727mn8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.5rem;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
}

.holder {
    display: block;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(177, 176, 176);
    padding: 1rem;
}

.headline {
    height: 4rem;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.zip {
    height: 6rem;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.zip input {
    width: 60%;
    height: 2rem;
    border-radius: 15px;
    outline: none;
    border: none;
    opacity: .4;
    text-align: center;
    font-size: 1.25rem;
}

.feel {
    height: 12rem;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feel .myInput {
    width: 80%;
    height: 4rem;
    border-radius: 15px;
    outline: none;
    border: none;
    opacity: .4;
    text-align: center;
    font-size: 1.25rem;
    padding-top: .5rem;
}

.feel.myInput:focus,
.zip input:focus {
    border: 1px solid #000;
}

.feel #generate {
    height: 2rem;
    width: 30%;
    font-size: 1.5rem;
    border-radius: 15px;
    outline: none;
    border: none;
    opacity: .4;
    cursor: pointer;
}

.feel #generate:hover {
    background-color: transparent;
    border: 2px solid #000;
    text-transform: uppercase;
    transition: 500ms;
}

.entry {
    height: 12rem;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}